.footer {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin: 0 auto 20px;
  top: 30px;
  width: 100vw;
  padding: 20px;
  justify-content: center;
  align-content: center;
  border-top: 1px solid #ffff;

@media only screen and (max-width: 600px) {
  .footer {
    padding-top: 15px;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }
}
