

.skillscard {
  display: inline-block;
  /* background-color: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 102, 121, 0.528470763305322) 35%,
    rgba(0, 212, 255, 1) 100%
  ); */

  margin: 1rem;
  position: relative;

  text-align: left;
}

/* .skillscard > .img-container {

      } */
.skillscard > .img-container > img {
  width: 50px;
  height: 50px;
}

.WrapperTitle {
  justify-content: flex-end;
}

.WrapperSkills {
  justify-content: center;
}
