.about-me {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10px;
  left: 0;
  bottom: 25px;
  justify-content: space-between;
}

@media only screen and (min-width: 350px) and (max-width: 993px) {
  .about-me {
    top: 43px;
    font-size: small;
  }
}
