.Header {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  top: 5px;
  padding: 20px;
  align-content: flex-start;
  color: #fff;
}

@media only screen and (min-width: 350px) {
  .Header {
    width: 60vw;
    padding: 5px;
  }
}
