.nav-link {
  color: #010101 !important;
  font-size: x-large !important;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

@media only screen and (max-width: 768px) {
  .navbar {
    position: absolute !important;
    margin-top: 0;
    right: 0;
    left: auto;
    top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    position: absolute !important;
    margin-top: 0;
    right: 0;
    left: auto;
    top: 0;
  }

  .nav-link {
    font-size: small !important;
  }

  .navbar > .container {
    justify-content: flex-end !important;
    
  }

  .navbar-nav {
    max-width: fit-content;
    padding-right: 0;
    
  }

  .navbar-toggler-icon {
    text-align: center;
  }
}
