
.container-for-cards {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
}

.WrapperTitle {
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 0px;
  color: #010101;


@media screen and (max-width: 600px) {
  .container-for-cards {
    justify-content: flex-start;
    width: 100vw;
  }

  .footer{
    margin-bottom: 26pc;
  }
  .navbar > .container {
    justify-content: flex-end !important;
    
  }
  .WrapperTitle {
    border-top: 1px solid #ffff;
    text-align: center;
    margin: 0 auto !important;
    font-size: 30px;
    left: 0;
    right: 0;
    position: relative !important;
    top: 20px;
  }
}
